{% extends 'base.html' %}
{% block body %}

<div class="jumbotron text-white {% if balance > 0.0 %}bg-success{% else %}bg-danger{% endif %}">
    <h1 class="display-4">Saldo {{ balance }}</h1>
</div>
{% for operation in operations %}
<div class="card mt-3">
    <div class="card-header text-white {% if operation.posting_key == 0 %}bg-danger{% else %}bg-success{% endif %}">
        {{ operation.date_operation }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ operation.description }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ operation.amount }}</h6>
    </div>
</div>
{% endfor %}

{% endblock body %}